@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

html, body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  line-height: 1.5;
  background-color: #F47B50;
  padding: 0;
  height: 100%;
  width: 100%;
}

.main_image {
  background-image: url(/images/Borzoi.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: 768px;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.footer_grid {
  background-color: #FFE5BC;
  padding: 20px 40px;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.copy {
  order: 4;
  margin-top: 20px;
}

.adresa_odkaz, .nadpis_odkaz, .nadpis_odkaz2 {
  text-decoration: none;
  color: black;
}

.OD {
  order: 1;
}

.adresa {
  order: 2;
}

.hlavicka {
  background-color: #FFE5BC;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  margin: 0;
}

.toggler3 {
  display: none;
  max-width: 20px;
  height: auto;
  margin-top: 20px;
  margin-left: 10px;
}

.kosicek {
  max-width: 50px;
  order: -3;
  margin-top: 20px;
  margin-right: 10px;
}

.toggler, .toggler2 {
  max-width: 30px;
  margin-top: 25px;
  margin-left: 10px;
}

.facebook {
  transform: scale(1.2);
  margin-bottom: 2px;
  margin-left: 10px;
}

.nadpis, .nadpis2 {
  font-size: 24px;
  font-weight: normal;
  margin-left: 20px;
}

.soc {
  margin-top: 10px;
}

.menu__checkbox, .menu2__checkbox2 {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  opacity: 0;
}

.menu__list {
  margin-top: 20px;
  padding: 0;
  background-color: #FFE5BC;
  list-style: none;
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  border-radius: 20px;
}

.menu__item {
  background-color: #FFE5BC;
  padding: 20px;
  font-size: 20px;
  display: block;
  border-radius: 20px;
}

.menu__item:first-child, .menu2__item2:first-child {
  padding-top: 30px;
}

.menu2__item2:hover {
  padding: 0;
}

.menu__item:hover {
  background-color: #90aef0;
  cursor: pointer;
  border-radius: 20px;
  padding: 20px;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

.menu__checkbox:checked ~ .menu__toggler .toggler {
  display: none;
}

.menu__checkbox:checked ~ .menu__toggler .toggler3 {
  display: inline-block;
}

.menu__toggler, .menu2__toggler2 {
  cursor: pointer;
}

.menu__link {
  text-decoration: none;
  color: black;
  display: block;
}

.home {
  order: -1;
  display: none;
}

.menu2__checkbox2:checked ~ .menu2__list2 {
  display: block;
}

.menu2__checkbox2:checked ~ .menu2__toggler2 .toggler2 {
  display: none;
}

.menu2__checkbox2:checked ~ .menu2__toggler2 .toggler3 {
  display: inline-block;
}

.menu2__list2 {
  display: none;
  position: absolute;
  list-style: none;
  margin-top: 20px;
  padding: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  background-color: #FFE5BC;
}

.menu2__item2 a:hover {
  background-color: #90aef0;
  cursor: pointer;
  border-radius: 20px;
  padding: 20px;
}

.menu2__item2 {
  border-radius: 20px;
  background-color: #FFE5BC;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  display: block;
}

.menu2__link2 {
  text-decoration: none;
  color: black;
  display: block;
}

.boxík {
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  margin: 20px;
  padding: 0;
  justify-content: space-between;
}

.sloupec_hlavicka {
  background-color: #FFE5BC;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  margin: 0;
}

.cont {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.facebook {
  margin-left: 5px;
}

.mapa {
  border: 5px solid;
  border-radius: 10px;
  border-color: #FFE5BC;
  width: 100%;
  height: 100%;
  min-height: 400px;
  min-width: 200px;
}

.text, .textik {
  line-height: 2;
  height: 50%;
  margin: 50px 100px;
  text-align: center;
  text-wrap: wrap;
}

.IG, .fb, .email {
  text-decoration: underline;
  color: black;
}

.IG:hover, .fb:hover, .email:hover {
  color: #FFE5BC;
}

.boxíček {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: -moz-min-content;
  min-height: min-content;
  max-height: -moz-max-content;
  max-height: max-content;
  align-items: center;
  gap: 20px;
  padding: 50px 20px;
  margin: auto;
}

.obr {
  height: auto;
  width: 100%;
  max-width: 300px;
  border: 2px #FFE5BC solid;
  border-radius: 10px;
}

.o_nas {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: -moz-min-content;
  min-height: min-content;
  max-width: 100%;
  align-items: center;
  text-align: center;
  gap: 100px;
  padding: 50px 100px;
  margin: auto;
}

.o_nas__link {
  color: #FFE5BC;
  text-decoration: none;
}

.o_nas__link:hover {
  color: #FFE5BC;
}

.kocarek {
  height: auto;
  width: 100%;
  max-width: 800px;
  min-width: 300px;
}

.kontejner {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: -moz-min-content;
  min-height: min-content;
  max-height: -moz-max-content;
  max-height: max-content;
  align-items: center;
  gap: 20px;
  padding: 50px 10px;
}

.kaficko {
  height: auto;
  width: 100%;
  max-width: 150px;
  border: 2px #FFE5BC solid;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .footer_grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hlavicka {
    flex: 0 0 100%;
  }
  .main_image {
    max-width: 1400px;
    min-width: 768px;
  }
  .toggler, .toggler3, .toggler2 {
    max-width: 30px;
    margin-left: 20px;
  }
  .kosicek {
    max-width: 60px;
    margin-right: 20px;
  }
  .adresa {
    order: 1;
    margin-top: 20px;
  }
  .OD {
    order: 3;
    margin-right: 20px;
  }
  .copy {
    order: 2;
  }
  .sloupec_hlavicka {
    justify-content: space-between;
    flex-direction: row;
  }
  .kocarek {
    max-width: 500px;
  }
  .o_nas {
    margin-top: 50px;
    max-width: 100%;
    padding: 0 200px;
    gap: 50px;
  }
  .boxíček {
    flex-direction: row;
    width: 60%;
    justify-content: center;
    padding: 100px 40px;
    margin: auto;
    gap: 40px;
  }
  .obr {
    width: 100%;
    height: 100%;
  }
  .kontejner {
    flex-direction: row;
    height: 100vh;
    align-items: start;
    padding: 50px;
  }
  .kafe {
    width: 100%;
    height: 30%;
  }
  .kaficko {
    max-width: 250px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .box {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  }
  .levy {
    flex: 0 0 25%;
  }
  .main_image {
    background-image: url(/images/Borzoi_cafe.png);
    height: 100%;
    flex: 0 0 50%;
    width: 100%;
  }
  .pravy {
    flex: 0 0 25%;
  }
  .hlavicka {
    background: transparent;
    justify-content: space-between;
    position: fixed;
    width: 100%;
  }
  .toggler {
    display: none;
  }
  .OD {
    order: 3;
  }
  .copy {
    margin-right: 70px;
  }
  .adresa a:hover {
    color: #F47B50;
  }
  .nadpis {
    align-self: center;
    font-size: 35px;
    margin-top: 0;
    margin-left: 100px;
  }
  .nadpis a:hover {
    color: #F47B50;
  }
  .menu__list {
    display: inline-block;
    width: 320px;
    position: fixed;
    background-color: #F47B50;
  }
  .menu__item {
    margin: 20px;
    border-radius: 30px;
    font-size: 25px;
    padding: 15px;
    height: 70px;
    text-align: center;
  }
  .menu__item:first-child {
    padding-top: 15px;
  }
  .menu__item:hover {
    padding: 15px;
    border-radius: 30px;
  }
  .footer_grid {
    background-color: #FFE5BC;
    justify-content: space-between;
    width: 100%;
  }
  .kosicek {
    max-width: 80px;
    margin-top: 40px;
    margin-right: 40px;
  }
  .home {
    transform: scale(0.7);
    order: -1;
    display: block;
    margin-top: 10px;
    margin-left: 50px;
  }
  .menu2__list2 {
    display: flex;
    position: relative;
    background-color: #F47B50;
    margin-left: 100px;
    margin-top: 20px;
  }
  .menu2__item2:first-child {
    padding-top: 5px;
  }
  .menu2__item2:first-child:hover {
    padding: 0;
  }
  .menu2__item2 {
    border-radius: 20px;
    background-color: #618DF1;
    width: 200px;
    height: 40px;
    margin: 0 10px;
    font-size: 20px;
    padding-top: 5px;
  }
  .menu2__item2 a:hover {
    border-radius: 20px;
    padding: 5px;
    margin: 0px;
  }
  .menu2 {
    margin: 20px;
    order: -1;
  }
  .nadpis2, .toggler2 {
    display: none;
  }
  .boxík {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-wrap: nowrap;
    align-items: center;
    margin: 50px;
    padding: 0;
    gap: 0;
  }
  .cont {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .sloupec_hlavicka {
    background-color: #F47B50;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 0;
    justify-content: space-around;
  }
  .facebook {
    margin-left: 5px;
  }
  .mapa {
    width: 400px;
    height: 400px;
    border: 5px solid;
    border-radius: 10px;
    border-color: #FFE5BC;
    padding: 0;
  }
  .text {
    line-height: 2;
    text-align: left;
    align-self: first baseline;
  }
  .IG, .fb, .email {
    text-decoration: underline;
    color: black;
  }
  .boxíček {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .obr:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  .textik {
    padding-top: 50px;
    margin: 0;
  }
  .kocarek1 {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 70%;
  }
  .o_nas {
    max-width: 50%;
    margin: auto;
    padding: 50px 0;
    gap: 0;
  }
  .o_nas__link {
    color: black;
  }
  .o_nas__link:hover {
    color: #FFE5BC;
  }
  .kontejner {
    width: 60%;
    justify-content: center;
    padding: 100px 40px;
    margin: auto;
  }
  .kafe {
    width: 100%;
    height: 80%;
  }
  .kaficko:hover {
    transform: scale(1.3);
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */