<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="cafē borzoi">
	<meta property="og:description" content="bubenečský espresso bar">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://cafeborzoi.netlify.app/images/Borzoi_cafe.png">
	<meta property="og:url" content="https://cafeborzoi.netlify.app/">
	<meta property="og:locale" content="cs_CZ">
    <title>cafē borzoi</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class= "cont">
        <div class="sloupec_hlavicka">
            <div class="home"><a href="/"><img src="/images/domu.png" alt=""> </a> </div>
            <nav class="menu2">
            <input type="checkbox" class="menu2__checkbox2" id="menu2-checkbox2">
            <label for="menu2-checkbox2" class="menu2__toggler2"><img class="toggler2" src="/images/menu(1).png" alt="menu2">
                <img class="toggler3" src="/images/krizek.png" alt="menu"></label>
                <ul class="menu2__list2">
                    <li class="menu2__item2"><a href="/menu" class="menu2__link2">menu</a></li>
                    <li class="menu2__item2"><a href="/o-nas" class="menu2__link2">o nás</a></li>
                    <li class="menu2__item2"><a href="/kontakt" class="menu2__link2">kontakt</a></li>
                    <li class="menu2__item2"><a href="" class="menu2__link2">eshop</a></li>
                </ul>
            </nav>
            <div><h1 class="nadpis2"><a href="/" class="nadpis_odkaz2">cafē borzoi</a></h1></div>
            <div class="kosicek1"><img class="kosicek" src="/images/košíček.png" alt="košíček"></div>
        </div>    
  
       

       

{{content | safe}}
         
   

<div class="footer">
    <div class="footer_grid">
            <div class="adresa"> <a href="https://www.google.com/maps/place/caf%C4%93+borzoi/@50.1068973,14.3925522,17z/data=!3m1!4b1!4m6!3m5!1s0x470b95e5d0bc364d:0x5c9793caec8ac248!8m2!3d50.1068973!4d14.3951271!16s%2Fg%2F11jrcsyy73?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D" class="adresa_odkaz">Zelená 943/7, Praha 6 Bubeneč</a> </div>
            <div class="copy"> © 2024 cafē borzoi</div>
            <div class="OD">po-pá 7:30-18:00 <br>so-ne 9:00-17:00
                <div class="soc"><a href="https://www.instagram.com/cafe.borzoi/?hl=cs"><img class= "ig" src="/images/instagram.png" alt="instagram"></a> 
                    <a href="https://www.facebook.com/cafeborzoi/?locale=cs_CZ"><img class= "facebook" src="/images/facebook.png" alt="facebook"></a></div></div>
    </div>
    </div>
     </div> 
</body>
</html>